*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Smythe", system-ui;
}
/* Header styles */
header{
    background-image: url(./images/image.png);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 2rem ;
    min-width: 326px;
}

.title-text{
    margin: 0;
    letter-spacing: 2px;
    font-weight: lighter;
    text-shadow: 1px 1px 0px #3d0808;
}
/* Main part */
main{
    max-width: 700px;
    margin: auto;
    position: relative;
}
.main-part,
.order-part{
    padding: 1rem 2rem;
}
/* Designs for each item */
.item{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    border-bottom: 1px solid #D2D2D2;
    margin-top: 1rem;
}

.food-title{
    margin: 0;
    color: black;
    letter-spacing: 1.5px;
    font-weight: normal;
} 
.ingredients{
    color: #8B8B8B;
    margin: 0.1rem 0;
    letter-spacing: 1.5px;
}

.icon{
    font-size: 3.5rem;
    display: flex;
    margin: 0 auto 0 0;
}

.price{
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
    color: black;
    letter-spacing: 1.5px;
}

.plus-btn{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #3C3C3C;
    background-color: #FFFFFF;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-left{
    display: flex;
    align-items: flex-start;
}

/* Your order section */
.order-part{
    display: flex;
    flex-direction: column;
}
.order-part-show{
    display: none;
}

.your-order{
    margin-top: 0;
    letter-spacing: 1.5px;
    font-weight: lighter;
    align-self: center;
}

.ordered-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordered-item-left{
    display: flex;
    align-items: center;
}
.ordered-item-name{
    font-weight: lighter;
    margin: 0;
}

/* individual item display */
.show-pizza{
    display:none;
}
.show-burger{
    display: none;
}
.show-drink{
    display: none;
}

.remove{
    color: #8B8B8B;
    margin:0 0 0 0.3rem;
    letter-spacing: 1.5px;
}

.remove:hover{
    cursor: pointer;
}

.total-price{
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #393333;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.customer-price{
    font-weight: lighter;
    margin: 0;
    margin-bottom: 0.5rem;
}
.complete-order-btn{
    background-color: #16DB99;
    width: 100%;
    color: #FFFFFF;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 15rem;
    height: 17rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #757575; 
}
form h3{
    margin-top: 0;
}
.input-info{
    border: 1px solid #757575;
    border-radius: 1px;
    margin-bottom: 0.5rem;
    padding: 5px;
    width: 100%;
    height: 2rem;
}

.show-form{
    display: none;
}
.pay-btn{
    width: 100%;
    background-color: #16DB99;
    border: none;
    color: #FFFFFF;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cancel{
    background-color: rgb(241, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}